body {

    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-color: #000000;

}

.btn {

    background:rgba(50, 50, 50, 0.2);
    color: white;

}

div.shadow {

    position:absolute;
    max-width:45%;
    max-height:45%;
    top:50%;
    left:50%;
    overflow:visible;

}

img.logo {

    position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:-50%;
    margin-left:-50%;

}

.search_bar {

    position:absolute;  
    left:43%;
    top:45%;

}
