body {

    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-color: #000000;

}

.btn {

    position:absolute;  
    left:185%;
    top:5%;
    width:10%;
    background:rgba(50, 50, 50, 0.2);
    color: white;

}

.box-center {

    margin: 5% auto;
    width: 605px;

}

.search_bar {

    position:absolute;  
    left:41%;
    top:45%;
    width:10%;

}


.footer {

    color: black;
    text-align: right;

}
