body {

    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7f5a83;
    background-image: linear-gradient(135deg, #7f5a83 0%, #0d324d 74%);

}

.btn {

    background:rgba(50, 50, 50, 0.2);
    color: white;

}

#logo {

    background-image: url("LogoOpt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
}

.search_bar {

    position:absolute;  
    left:43%;
    top:45%;

}
